<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/static/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" media="screen" th:href="@{/static/layui/css/layui.css}">
</head>
<body>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<form class="form-horizontal" onsubmit="return false" id="form">
		<fieldset>
			<div class='form-group'>
				<label class='col-md-2 control-label'>carId</label>
				<div class='col-md-10'>
					<input class='form-control' placeholder='carId' type='text' name='carId' id='carId' data-bv-notempty='true' data-bv-notempty-message='carId 不能为空'>
				</div>
			</div>
			<div class='form-group'>
				<label class='col-md-2 control-label'>length</label>
				<div class='col-md-10'>
					<input class='form-control' placeholder='length' type='text' name='length' id='length' data-bv-notempty='true' data-bv-notempty-message='length 不能为空'>
				</div>
			</div>
			<div class='form-group'>
				<label class='col-md-2 control-label'>width</label>
				<div class='col-md-10'>
					<input class='form-control' placeholder='width' type='text' name='width' id='width' data-bv-notempty='true' data-bv-notempty-message='width 不能为空'>
				</div>
			</div>
			<div class='form-group'>
				<label class='col-md-2 control-label'>height</label>
				<div class='col-md-10'>
					<input class='form-control' placeholder='height' type='text' name='height' id='height' data-bv-notempty='true' data-bv-notempty-message='height 不能为空'>
				</div>
			</div>
			<div class='form-group'>
				<label class='col-md-2 control-label'>wheelbase</label>
				<div class='col-md-10'>
					<input class='form-control' placeholder='wheelbase' type='text' name='wheelbase' id='wheelbase' data-bv-notempty='true' data-bv-notempty-message='wheelbase 不能为空'>
				</div>
			</div>
			<div class='form-group'>
				<label class='col-md-2 control-label'>frontWheelPitch</label>
				<div class='col-md-10'>
					<input class='form-control' placeholder='frontWheelPitch' type='text' name='frontWheelPitch' id='frontWheelPitch' data-bv-notempty='true' data-bv-notempty-message='frontWheelPitch 不能为空'>
				</div>
			</div>
			<div class='form-group'>
				<label class='col-md-2 control-label'>rearWheelPitch</label>
				<div class='col-md-10'>
					<input class='form-control' placeholder='rearWheelPitch' type='text' name='rearWheelPitch' id='rearWheelPitch' data-bv-notempty='true' data-bv-notempty-message='rearWheelPitch 不能为空'>
				</div>
			</div>
			<div class='form-group'>
				<label class='col-md-2 control-label'>doorNum</label>
				<div class='col-md-10'>
					<input class='form-control' placeholder='doorNum' type='text' name='doorNum' id='doorNum' data-bv-notempty='true' data-bv-notempty-message='doorNum 不能为空'>
				</div>
			</div>
			<div class='form-group'>
				<label class='col-md-2 control-label'>seatNum</label>
				<div class='col-md-10'>
					<input class='form-control' placeholder='seatNum' type='text' name='seatNum' id='seatNum' data-bv-notempty='true' data-bv-notempty-message='seatNum 不能为空'>
				</div>
			</div>
			<div class='form-group'>
				<label class='col-md-2 control-label'>tankCapacity</label>
				<div class='col-md-10'>
					<input class='form-control' placeholder='tankCapacity' type='text' name='tankCapacity' id='tankCapacity' data-bv-notempty='true' data-bv-notempty-message='tankCapacity 不能为空'>
				</div>
			</div>
			<div class='form-group'>
				<label class='col-md-2 control-label'>trunkCapacity</label>
				<div class='col-md-10'>
					<input class='form-control' placeholder='trunkCapacity' type='text' name='trunkCapacity' id='trunkCapacity' data-bv-notempty='true' data-bv-notempty-message='trunkCapacity 不能为空'>
				</div>
			</div>
			<div class='form-group'>
				<label class='col-md-2 control-label'>vehicleWeight</label>
				<div class='col-md-10'>
					<input class='form-control' placeholder='vehicleWeight' type='text' name='vehicleWeight' id='vehicleWeight' data-bv-notempty='true' data-bv-notempty-message='vehicleWeight 不能为空'>
				</div>
			</div>


			<div class="form-actions">
				<div class="row" align="center">
					<div class="col-md-12">
					    <button class="btn btn-primary" onclick="location.href='carBodyList'">返回</button>
						<button class="btn btn-primary" type="submit" onclick="add()">
							<i class="fa fa-save"></i> 保存
						</button>
					</div>
				</div>
			</div>

		</fieldset>
	</form>
</div>
	<script type="text/javascript" th:src="@{/static/js/libs/jquery-2.1.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/plugin/bootstrapvalidator/bootstrapValidator.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/common.js}"></script>
	<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/jq.js}"></script>
	<script type="text/javascript">
		var layer;
		layui.use(['layer','laydate'], function(){
		    layer = layui.layer;
		});
		
		function add() {
			$('#form').bootstrapValidator();
			var bootstrapValidator = $("#form").data('bootstrapValidator');
			bootstrapValidator.validate();
		    if(!bootstrapValidator.isValid()){
			   return;
		    }
		    
		    var formdata = $("#form").serializeObject();

			$.ajax({
				type : 'post',
				url : '/carBodys',
				contentType: "application/json; charset=utf-8",  
				data : JSON.stringify(formdata),
				success : function(data) {
					layer.msg("添加成功", {shift: -1, time: 1000}, function(){
                        location.href = "carBodyList";
                    });
				}
			});
		}
		
	</script>
</body>
</html>
